<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Catalog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/people.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notes.css') }}">
    <script
        src="{{ url_for('static', filename='js/index.js') }}"
        type="module"
    ></script>
</head>
<body>
    <h1>
        List of available fruits
    </h1>
    <div class="fruits-list">
        {% for fruit in fruits %}
             {% include "_fruit_content.html" %}
        {% endfor %}
    </div>

    {% if config['DEBUG'] %}
        {% include "_debug.html" %}
    {% endif %}
</body>
</html>
